.login-register-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #555; 
  transition: all 0.3s;
}

.tabs .active-tab {
  font-weight: bold;
  color: #000; 
  border-bottom: 3px solid #000;
}

.form-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.forgot-password {
  display: block;
  margin: 10px 0;
  text-align: center;
  color: #333;
}

.terms {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.terms label a {
  color: #dd1b1b;
  text-decoration: none;
}

.terms input {
  margin-right: 10px;
}
