.sectionCard {
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.sectionCard:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.cardContent {
  overflow: hidden; /* giúp bo góc tròn đều */
  border-radius: 10px;
}

.cardHeader {
  background-color: #4ae328ff;
  padding: 10px;
}

.cardBody {
  background-color: #ddebeb;
  padding: 10px;
}
