.dashboard-container {
  display: flex;
  width: 100%;
  min-height: 95vh;
  height: 220px;
  overflow-x: hidden;
}

.sidebar {
  width: 200px;
  background-color: #1f2937; /* tùy chỉnh màu */
  color: white;
  padding: 20px 10px;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  background-color: #f9fafb;
}
